doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style/style.css")
    body 

.container 
    nav.navigation 
        h1 <img src='/picture/title.png'/> Dashboard <span>v.01</span>
        .nav-menu 
            ul  
                li <img src='/picture/dash.png'/> Dashboard <img class='chevron' src='/picture/chevron-right.png'/>
                li <img src='/picture/product.png'/> Product <img class='chevron' src='/picture/chevron-right.png'/>
                li.customers <img src='/picture/user.png'/> Customers <img class='chevron'  src='/picture/chevron-right.png'/>
                li <img src='/picture/income.png'/>Income  <img class='chevron' src='/picture/chevron-right.png'/>
                li <img src='/picture/promote.png'/> Promote <img class='chevron' src='/picture/chevron-right.png'/>
                li <img src='/picture/help.png'/> Help <img class='chevron' src='/picture/chevron-right.png'/>
        .manager 
            .img-manag
                <img src='/picture/manag.png'>
            .manag-data 
                h4 Evano
                p Project Manager

    main.customers-block 
        h2 Hello Evano 👋🏼,

        .customers-list
            .houd-cont 
                .houd
                    h3 All Customers
                    p.act Active Members
                .hoodrich    
                    p.search <img src='/picture/search.png'/> Search
            .users-menu 
                p Customers Name
                p Company 
                p Phone Number 
                p Email
                p Country 
                p status
            .users-data 
                p Jane Cooper
                p Microsoft
                p (225) 555-0118
                p jane@mictorost.com
                p.country United States
                p.active  Active
            .users-data 
                p Floyd Miles
                p Yahoo
                p (205) 555-0100
                p floyd@yahoo.com
                p.country Kiribati
                p.inactive  Inactive
            .users-data 
                p Ronald Richards
                p Adobe
                p (302) 555-0107
                p ronald@adobe.com
                p.country Israel
                p.inactive  Inactive
            .users-data 
                p Marvin McKinney
                p Tesla
                p (252) 555-0126
                p marvin@tesla.com
                p.country Iran
                p.active  Active
            .users-data 
                p Jerome Bell
                p Google
                p (629) 555-0129
                p jerome@google.com
                p.country Reunion 
                p.active  Active
            .users-data 
                p Kathryn Murphy
                p Microsoft
                p (406) 555-0120
                p kathryn@mictorost.com
                p.country Curacao
                p.active  Active
            .users-data 
                p Jacob Jones
                p Yahoo
                p (208) 555-0112
                p jacob@yahoo.com
                p.country Brazil
                p.active  Active
            .users-data 
                p Kristin Watson
                p Facebook
                p (704) 555-0127
                p kristin@facebook.com
                p.country Aland Islands
                p.inactive  Inactive
            .main-footer 
                .text 
                    p Showing data 1 to 8 of 256K entries
                .pages-buttons 
                    button.purp 1
                    button 2
                    button 3
                    button 4
                    p ...
                    button 40

 


      
                




