body {
  font-family: sans-serif;
  background-color: rgb(246, 248, 248);
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: #fff;
  width: 16%;
  height: 100vh;
  box-shadow: 0px 5px 10px 2px rgba(143, 142, 142, 0.5);
}
.navigation h1 {
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
}
.navigation h1 span {
  font-size: 12px;
  color: rgb(184, 184, 184);
}
.navigation h1 img {
  height: 25px;
  width: 25px;
}
.navigation .manager {
  display: flex;
  margin-left: 11%;
  margin-top: 15%;
}
.navigation .manager .manag-data {
  margin-left: 15px;
  margin-top: 5px;
}
.navigation ul {
  list-style-type: none;
  margin-top: 50px;
  margin-left: 8%;
  font-size: 16px;
  color: rgb(166, 166, 192);
}
.navigation ul img {
  width: 12%;
  height: 12%;
  padding-right: 8%;
}
.navigation ul .customers {
  background-color: rgb(60, 26, 114);
  color: white;
}
.navigation ul li {
  margin-top: 5%;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.navigation ul li .chevron {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  margin-left: auto;
}

.container {
  display: flex;
}

.customers-block h2 {
  margin: 35px 0px 0px 80px;
}
.customers-block .customers-list {
  background-color: #fff;
  margin-left: 6%;
  width: 130vh;
  height: 73vh;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(143, 142, 142, 0.5);
  margin-top: 55px;
}
.customers-block .customers-list .houd-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.customers-block .customers-list .houd-cont .search {
  color: #d1d1d1;
  margin-top: 40px;
  margin-right: 200px;
  width: 70%;
  background-color: rgb(240, 239, 239);
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.customers-block .customers-list .houd-cont .search img {
  margin-right: 20px;
  margin-left: 20px;
}
.customers-block .customers-list .houd-cont h3 {
  font-weight: bold;
  padding-top: 40px;
}
.customers-block .customers-list .houd-cont h3,
.customers-block .customers-list .houd-cont .act {
  margin-left: 40px;
  margin-top: 10px;
}
.customers-block .customers-list .houd-cont .act {
  color: rgb(8, 184, 96);
}
.customers-block .customers-list .users-menu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.customers-block .customers-list .users-menu p {
  color: rgb(182, 182, 182);
  width: 205px;
  margin-left: 53px;
}
.customers-block .customers-list .users-data {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.customers-block .customers-list .users-data p {
  color: rgb(37, 37, 37);
  width: 210px;
}
.customers-block .customers-list .users-data .active {
  width: 100px;
  border-radius: 5px;
  height: 25px;
  background-color: rgb(5, 197, 149);
  display: flex;
  justify-content: center;
  border: 1px solid green;
  color: rgb(28, 138, 1);
  font-size: 19px;
  align-items: center;
  margin-top: -5px;
}
.customers-block .customers-list .users-data .inactive {
  width: 100px;
  border-radius: 5px;
  height: 25px;
  background-color: rgb(224, 142, 136);
  display: flex;
  justify-content: center;
  border: 1px solid rgb(252, 0, 0);
  color: rgb(138, 17, 1);
  font-size: 19px;
  align-items: center;
  margin-top: -5px;
}
.customers-block .customers-list .main-footer {
  display: flex;
  justify-content: space-between;
}
.customers-block .customers-list .main-footer .text {
  color: rgb(182, 182, 182);
  margin: 20px 0px 0px 50px;
}
.customers-block .customers-list .main-footer .pages-buttons {
  margin-right: 100px;
  margin-top: 15px;
  display: flex;
}
.customers-block .customers-list .main-footer .pages-buttons button {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.customers-block .customers-list .main-footer .pages-buttons .purp {
  background-color: rgb(60, 26, 114);
  color: white;
}

@media screen and (max-width: 490px) {
  .navigation {
    width: 47vh;
  }
  .navigation h1 {
    margin-right: 50px;
  }
  .container {
    display: block;
  }
  .customers-block {
    font-size: 10px;
  }
  .customers-block h2 {
    font-size: 22px;
    margin: 35px 0px 0px 30px;
  }
  .customers-block .customers-list {
    margin-left: 0%;
    width: 47vh;
    height: 85vh;
  }
  .customers-block .customers-list .houd-cont {
    display: block;
    justify-content: baseline;
    margin-left: 0;
    font-size: 16px;
  }
  .customers-block .customers-list .houd-cont .search {
    margin-left: 20px;
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .customers-block .customers-list .houd-cont h3 {
    font-weight: bold;
    padding-top: 40px;
  }
  .customers-block .customers-list .houd-cont h3,
  .customers-block .customers-list .houd-cont .act {
    margin-left: 40px;
    margin-top: 10px;
  }
  .customers-block .customers-list .houd-cont .act {
    color: rgb(8, 184, 96);
  }
  .customers-block .customers-list .users-menu {
    justify-content: baseline;
  }
  .customers-block .customers-list .users-menu p {
    width: 90px;
    margin-left: 13px;
  }
  .customers-block .customers-list .users-data {
    justify-content: center;
  }
  .customers-block .customers-list .users-data p {
    width: 80px;
    margin-left: 10px;
  }
  .customers-block .customers-list .users-data .active {
    width: 50px;
    height: 25px;
    font-size: 14px;
    margin-right: 20px;
  }
  .customers-block .customers-list .users-data .inactive {
    width: 50px;
    height: 25px;
    align-items: center;
    margin-top: -5px;
    margin-right: 15px;
    font-size: 14px;
  }
  .customers-block .customers-list .users-data .country {
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */